.nodePositioningWrapper {
  position: relative;
}

.nodePositioningWrapper:hover {
  /* otherwise drop targets interfere with drag start */
  z-index: 2;
}

.insertBeforeTarget, .insertAfterTarget {
  box-sizing: border-box;
  width: 100%;
  height: 1em;
  position: absolute;
  z-index: 1;
  display: none;
}

.insertBeforeTarget {
  top: -0.5em;
}

.insertAfterTarget {
  bottom: -0.5em;
}

.insertTargetCanDrop {
  display: flex;
}

.insertTargetDropping .insertTargetMarker {
  box-sizing: border-box;
  width: 100%;
  height: 3px;
  border-radius: 2px;
  background: linear-gradient(90deg, gray, white);
  align-self: center;
}

/* Debugging */

/*
.insertBeforeTarget, .insertAfterTarget {
  opacity: 0.5;
}

.insertTargetDropping {
  opacity: 0.9;
}

.insertBeforeTarget {
  background-color: #ffffdd;
}

.insertAfterTarget {
  background-color: #ffddff;
}
*/
